.hero{
    background-image: url('../../assets/images/left-circle.png');
    background-repeat: no-repeat;
    background-position: left bottom;
}

.hero__inner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
}
.hero__left__title{
    color: #101828;
font-size:50px;
font-weight: 700;
line-height: 82px;
letter-spacing: -0.5px;
text-transform: capitalize;
}
.hero__left__title-bright{
    color: #7F56D9;
}
.hero__right__box{
    position: relative;
    background-color: #7F56D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__right__box__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.hero__right__video__box{
    position: absolute;
    display: inline-flex;
    align-items: center;
    width: 214px;
    border-radius: 18px;
    padding: 18px;
    left: -30px;
    top: 30%;
    background-color: #fff;
    font-size: 25px;
    border: 1px solid #7F56D9;
}
.hero__right__video__icon,
.hero__right__user__icon{
    color: #7F56D9;
}
.hero__right__video__title{
    width: 100px;
    color: rgba($color: #101828, $alpha:.5);
    font-weight: 600;
    font-size:15px;
    margin-left: 10px;
}
.hero__right__user__box{
    position: absolute;
    right: 0;
    bottom:30px;
    display: inline-flex;
    align-items: center;
    border: 1px solid #7F56D9;
    padding: 18px;
    border-radius: 18px;
    width: 164px;
    background-color: #fff;
}


// service

.services__title{
    font-size: 30px;
    color: #101828;
    line-height: 44px;
    text-align: center;
}
.services{
    margin-top: 70px;
}
.services__inner{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 22px;
    margin-top: 40px;
}
.service__card{
    padding: 30px 40px;
    border-radius: 12px;
    background-color: #7F56D9;
    border: 1px solid transparent;
    transition: all .3s;
}
.service__card:hover{
    background-color: #9E77ED;
    border-color:#7F56D9;
}
.service__card__header{
    display: flex;
    align-items: center;
}
.service__card__header__icon__wrapper{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-color: #fff;
}
.service__card__header__icon{
    color: #7F56D9;
    font-size: 20px;
}
.service__card__title{
    font-size: 18px;
    letter-spacing: 0.48px;
    margin-left: 20px;
    color: #fff;
    text-transform: capitalize;
}
.service__card__body{
    margin-top: 30px;
}
.service__card__text{
    color: #fff;
    font-size: 15px;
    line-height: 27px;
    font-weight: 600;
}
.service__card__more__btn{
    display: inline-block;
    color: #fff;
    margin-top: 22px;
    text-decoration: none;
}
.service__card__more__btn-arrow{
    margin-left: 21px;
}


// popular

.popular__title{
    margin-top: 70px;
    font-size: 30px;
    color: #101828;
    line-height: 44px;
    text-align: center;
}
.popular__inner{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 40px;
}
@media only screen and (max-width:1110px){
    .hero__left__title{
        font-size: 45px;
        line-height: 60px;
    }
}
@media only screen and (max-width:995px){
    .hero{
        background-position: top left;
    }
    .hero__inner{
        display: flex;
        flex-direction: column;
    }
    .hero__left__box{
        max-width: 600px;
        width: 100%;
        text-align: center;
    }
    .hero__right__box{
        margin-top: 40px;
    }
    .hero__right__video__box{
        left: -80px;
    }
    .services__inner{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:700px){
    .hero__right__video__box{
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
    .hero__right__user__box{
        bottom: 0;
        right: 50%;
        transform: translate(50%);
    }
    .services__inner{
        grid-template-columns: repeat(1,1fr);
    }
    .service__card{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .service__card__title{
        font-size: 16px;
    }
    .service__card__body{
        margin-top: 0;
        width: 60%;
        margin-left: 20px;
    }
}
@media only screen and (max-width:576px){
    .hero__left__title{
        font-size: 35px;
        line-height: 50px;
    }
    .service__card{
        flex-direction: column;
    }
    .service__card__body{
        width: 80%;
        margin-left:0;
        margin-top: 20px;
        text-align: center;
    }
}
@media only screen and (max-width:400px){
    .hero__right__video__box{
        top: -30px;
        left: 50%;
        transform: translate(-50%);
    }
    .hero__right__user__box{
        bottom:-30px;
        right: 50%;
        transform: translate(50%);
    }
    .service__card__body{
        width: 100%;
    }
}