.hero__lesson__title{
    text-align: center;
}
.hero__lessons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
}
.hero__lesson__card{
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.hero__lesson__card__header{
    width: 100%;
    height: 180px;
    background-color: red;
    overflow: hidden;
}
.hero__lesson__card__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .3s;
}
.hero__lesson__card__header:hover .hero__lesson__card__img{
    transform: scale(1.05);
}
.hero__lesson__card__body{
    margin-top: 20px;
}
.hero__lesson__card__title{
    text-align: center;
}
.hero__lesson__card__btn{
    position: relative;
    width: 100%;
    margin-top: 20px;
    outline: none;
    border: 1px solid #222;
    background-color: transparent;
    overflow: hidden;
    border-radius: 5px;
}
.hero__lesson__card__btn::after{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center ;
    content: "Boshlash";
    width: 100%;
    left: 0;
    height:0;
    bottom:0;
    background-color: #222;
    overflow: hidden;
    transition: height .3s linear;
}
.hero__lesson__card__btn:hover::after{
    height: 100%;
    cursor: pointer;
}
.hero__lesson__card__btn:hover{
    color: #fff;
    transition: color .3s;
}