.footer{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 40px 0;
    color: #fff;
    background: #F9FAFB;
z-index: 2;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer__logo__desc{
    color:rgba(#101828, .7);
    line-height: 24px;
    max-width: 300px;
    margin-top: 
    20px;
}
.footer__info{
    display: flex;
    gap: 40px;
}
.footer__category__title{
    font-size: 20px;
    color: #222;
}
.footer__item{
    display: block;
    text-decoration: none;
    margin-top: 16px;
    color: #222;
    font-weight: 500;
}
.footer__item:hover{
    font-weight: 600;
    color: #7F56D9;
    transition: all .2s;
}
@media only screen and (max-width:500px){
    .footer__logo{
        text-align: center;
    }
    .footer__inner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}