*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-display: swap; 
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
  }
body{
    position: relative;
    font-family: 'Montserrat';
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
}
.container{
    max-width: 1210px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
ul,li{
    list-style-type: none;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
.render{
    margin-top: 100px;
    background-color: transparent;
}
.section__title{
    color: #222;
    font-weight: 700;
    font-size: 35px;
}
.card__title{
    color: #222;
    font-weight: 600;
    font-size: 20px;
}

@media only screen and (max-width:767px){
    .container{
        max-width: 740px;
    }
}